{% extends "../base.html" %} {% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="border border-3 border-light p-5 bg-dark text-light rounded">
    <h3 class="text-center mb-4 text-uppercase">
      <span class="text-success">//</span>Login<span class="text-danger">_</span>
    </h3>

    <form method="POST" class="form-style">
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
    
      <!-- form variable -->
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign In</button>
    </form>
    
  </div>
</div>

{% endblock %}