{% extends "../base.html" %}
<!--  -->
{% block title %} Home {% endblock %}
<!--  -->
{% block LOGOUT %}
      <!--  -->
      <a href="{% url 'logout' %}" class="navbar-brand d-flex align-items-center " style="margin-left: auto;">
        <i class="bi bi-person-plus-fill"></i>
        <strong>LOGOUT</strong>
      </a>
{% endblock %}
{% block content %}
<!--  -->
<div class="container">
    <h2>Editar Comentario</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_nombre">Asunto:</label>
        {{ form.asunto }}
      </div>
      <div class="form-group">
        <label for="id_email">Nombre:</label>
        {{ form.nombre }}
      </div>
      <div class="form-group">
        <label for="id_comentario">Comentario:</label>
        {{ form.comentario }}
      </div>
      <div class="form-group">
        <label for="id_comentario">Imagen:</label>
        {{ form.imagen }}
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'lista_comentarios' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
<!--  -->
{% endblock %}
<!--  -->
{% block javascript %}
<!--  -->
{% endblock %}