{% extends "../base.html" %}

{% block title %} Home {% endblock %}

{% block LOGOUT %}
  <a href="{% url 'logout' %}" class="navbar-brand d-flex align-items-center " style="margin-left: auto;">
    <i class="bi bi-person-plus-fill"></i>
    <strong>LOGOUT</strong>
  </a>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4 text-center">Lista de comentarios</h1>
  <a href="{% url 'crear_comentario' %}" class="btn btn-primary mb-3">
    <i class="bi bi-chat-left-dots-fill me-2"></i>
    CREAR NUEVO COMENTARIO
  </a>
  <div class="row">
    {% for comentario in object_list %}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header bg-dark text-light">
            <h5 class="card-title">{{ comentario.asunto }}</h5>
            <h6 class="card-subtitle mb-2">{{ comentario.nombre }}</h6>
          </div>
          {% if comentario.imagen %}
            <img src="{{ comentario.imagen.url }}" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{ comentario.comentario }}</p>
            <a href="{% url 'editar_comentario' comentario.id %}" class="btn btn-primary me-2">Editar</a>
            <a href="{% url 'crear_respuesta' comentario.id %}" class="btn btn-secondary">Crear respuesta</a>
          </div>
          {% if comentario.respuestas %}
            <div class="card-footer">
              <h6 class="mb-3">Respuestas:</h6>
              <ul class="list-unstyled">
                {% for respuesta in comentario.respuestas.all %}
                  <li>
                    <strong>{{ respuesta.nombre }}</strong>
                    <p class="mb-0">{{ respuesta.respuesta }}</p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="col-md-12">
        <p>No hay comentarios.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<!--  -->
{% endblock %}