<!DOCTYPE html>
<html lang="en">

<head>

{% load static tailwind_tags %}
<link href="{% static 'css/dist/bootstrap5.css' %}" rel="stylesheet">


<script src="{% static 'js/bootstrap.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="{% static 'css/dist/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{% static 'css/dist/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dist/web3.css' %}">

</head>

  <div  class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context.
            Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some
            social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Options</h4>
          <ul class="list-unstyled">
            <li><a class="text-white" href="{% url 'login' %}" class="navbar-brand d-flex align-items-center "
                style="margin-left: auto;">
                <i class="bi bi-person-plus-fill"></i>
                <strong>LOGIN</strong>
              </a>
            </li>
            <div class="col-sm-1 offset-md-1 py-1"></div>
            {% block LOGOUT %}
            <!--  -->

            {% endblock %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div  class="navbar navbar-dark w3-dark-grey shadow-sm">
    <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
        <i class="bi bi-tencent-qq"></i>
        <strong>BIENVENIDO AL PINGÜIFORO</strong>
      </a>
    </div>
    <div>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>


  <title>Forum - {% block title %} {% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% tailwind_css %}

<body class="bg-black h-screen w-full">
  {% block content %}
  <!--  -->
  {% endblock %}
  <!--  -->
  <script src="{% static 'js/KeyBoard.js' %}"></script>
  {% block javascript %}
  <!--  -->
  {% endblock %}
</body>

</html>